.dark-mode #about {
  background-color: #050505;
  color: #d8d7d7;
}

.dark-mode #about .image img {
  box-shadow: 19px 19px 30px #535353, -19px -19px 30px #2020201f;
}

.dark-mode #about .content header h2 {
  color: var(--color-text);
}

.dark-mode #about .content .text p {
  color: #b8b8b8;
}

.dark-mode #about .content .text ul li {
  color: #9b9b9b;
}

.dark-mode #about .content .text a {
  color: var(--color-text);
}

.dark-mode #about .content .text a button {
  border: 1px solid var(--color-text);
  color: var(--color-text);
}

.dark-mode #about .content .text a button:hover {
  background-color: var(--color-text);
  color: #1c2dca;
}

.light-mode #about {
  background-color: #ffffff;
  color: #000000;
}

.light-mode #about .image img {
  box-shadow: 19px 19px 30px #bbe9ff, -19px -19px 30px  #65bce4;
}

.light-mode #about .content header h2 {
  color: #111111;
}

.light-mode #about .content .text p {
  color: #111111;
}

.light-mode #about .content .text ul li {
  color: #111111;
}

.light-mode #about .content .text a {
  color: #111111;
}

.light-mode #about .content .text a button {
  border:1px solid #0051ff;
  color: #000000;
  cursor: pointer;
  background-color: #b3e5fc;
}

.light-mode #about .content .text a button:hover {
  background-color:  #1c2dca;
  color:  #ffffff;
  box-shadow: 5px 5px 10px #0b618a;
  cursor: pointer;
}


#about {
  position: relative; 
  background-color: #050505;
  padding: 10rem 2.4rem;
  overflow: hidden;
}

#about .wrapper {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#about .image {
  margin-bottom: 3rem;
}

#about .image img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  max-width: 25rem;
  animation: move 3s ease-in-out infinite;
  border-radius: 50%;
  box-shadow:  19px 19px 30px #535353,
  -19px -19px 30px #2020201f;
  animation: move 3s ease-in-out infinite;
}

#about .content {
  text-align: center;
  width: 100%;
}

#about .content header h2 {
  font-size: 4rem;
  color: var(--color-text);
  margin-bottom: 2rem;
  margin-top: 5rem;
}

#about .content .text {
  text-align: center;
  margin-top: 4rem;
}

#about .content .text p {
  font-weight: 300;
  color: #b8b8b8;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

#about .content .text p span {
  font-weight: 600;
}

#about .content .text ul {
  margin-top: 3rem;
  padding-left: 0;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#about .content .text ul li {
  font-size: 1.4rem;
  color: #9b9b9b;
  list-style: disc;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

#about .content .text a {
  text-decoration: none;
  color: var(--color-text);
}

#about .content .text a button {
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: transparent;
  outline: 1px solid var(--color-text);
  color: var(--color-text);
  font-weight: 700;
  border: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
}

#about .content .text a button:hover {
  background-color: var(--color-text);
  color:  #1c2dca;
  box-shadow: 5px 5px 10px #000;
  cursor: pointer;
}

