/* Competence.module.css */

/* Modo escuro */
.dark-mode #competence {
  background-color: #050505;
  color: #d8d7d7
}

.dark-mode #competence header h2 {
  color: var(--color-text);
}

.dark-mode #competence .card {
  background: rgba(39, 39, 39, 0.1);
  border-image: linear-gradient(45deg, #f0db4f, #ec6231, #264de4) 1;
}

.dark-mode #competence .description {
  color: #d8d7d7;
}

.dark-mode #competence h3 {
  color: var(--color-text);
}

.dark-mode #competence .toggle-button {
  background:  rgb(119, 119, 119);
  color: #ffffff;
}

.dark-mode #competence .toggle-button:hover {
  background: rgb(46, 46, 46);
  color: #ffffff;
}

/* Modo claro */
.light-mode #competence {
  background: #ffffff;
  color: #000000; 
}

.light-mode #competence header h2 {
  color:#000000;
}

.light-mode #competence .card {
  background:  #b3e5fc5d;
  border: 1px solid #0051ff;
}

.light-mode #competence .description {
  color: #000000;
}

.light-mode #competence h3 {
  color:  #000000;
}

.light-mode #competence .content {
  color: #000000;
}

.light-mode #competence .toggle-button {
  background: #b3e5fc;
  color: rgb(0, 0, 0);
}

.light-mode #competence .toggle-button:hover {
  background-color: #0051ff;
  color: #ffffff;
}

/* Estilos gerais */
#competence {
  overflow: hidden;
  padding: 2rem;
}

#competence header h2 {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  text-align: center;
}

#competence .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

#competence .card {
  width: 80%;
  max-width: 600px; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border-radius: 1rem;
  margin-bottom: 2rem;
  min-height: 20rem;
  border-width: 3px;
  border-style: solid;
  transition: transform 0.3s ease;
}

#competence .card:hover {
  transform: scale(1.05);
}

#competence .description {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

#competence h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

#competence .expandable-section {
  position: relative;
}

#competence .content {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#competence .content.expanded {
  max-height: 730px;
}

#competence .toggle-button {
  border: none; 
  cursor: pointer; 
  font-size: 1.5rem; 
  margin-top: 1.5rem;
  margin-bottom: 5px;
  padding: 0.5rem; 
  border-radius: 50%;
  transition: background-color 0.3s, box-shadow 0.3s ease; 
  width: fit-content;
}

#competence .toggle-button:hover {
  background-color: #1c2dca62; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}
