#competence {
  background-color: #050505;
  overflow: hidden;
  padding: 2rem;
}

#competence header h2 {
  font-size: 3.5rem;
  color: var(--color-text);
  margin-bottom: 5rem;
  text-align: center;
}

#competence .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

#competence .card {
  width: 80%;
  max-width: 600px; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border-radius: 1rem;
  margin-bottom: 2rem;
  min-height: 20rem;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(45deg, #f0db4f, #ec6231, #264de4) 1;
}

#competence .card:hover {
  transform: scale(1.05);
}

#competence .description {
  font-family: "Poppins", sans-serif;
  color: #d8d7d7;
  font-size: 1.3rem;
  font-weight: 300;
  font-weight: bold;
}

#competence h3 {
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

#competence .expandable-section {
  position: relative;
}

#competence .content {
  font-family: "Poppins", sans-serif;
  color: #b3b3b3;
  font-size: 1.5rem;
  font-weight: 300;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#competence .content.expanded {
  max-height: 200px;
}

#competence .toggle-button {
  background: #35353588;
  border: none; 
  cursor: pointer; 
  font-size: 2.5rem; 
  margin-bottom: 5px;
  color: #ffffff; 
  padding: 0.5rem; 
  border-radius: 45%;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.582); 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

#competence .toggle-button:hover {
  background-color: #4d2b2b; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}